/* @font-face */
/*
@font-face {
    font-family: 'pt_sansregular';
    src: url('fonts/pt_sans-webfont.eot');
    src: url('fonts/pt_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans-webfont.woff') format('woff'),
         url('fonts/pt_sans-webfont.ttf') format('truetype'),
         url('fonts/pt_sans-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansbold';
    src: url('fonts/pt_sans_bold-webfont.eot');
    src: url('fonts/pt_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pt_sans_bold-webfont.woff') format('woff'),
         url('fonts/pt_sans_bold-webfont.ttf') format('truetype'),
         url('fonts/pt_sans_bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/* layout markup */
* {
	padding: 0;
	margin: 0;
}
body, 
html {
	height: 100%;
}
p {
	line-height: 22px;
	font-size: 16px;
}
h2 {
	font-family: 'Pt sans narrow';
	font-size: 26px;
	color: #222;
	padding-bottom: 25px;
	line-height: 28px;
}
h2.ttu {
	text-transform: uppercase;
}
h3 {
	font-size: 20px;
	line-height: 24px;
	color: #222;
}
h4 {
	text-transform: uppercase;
	font-size: 16px;
	color: #222;
}
a {
	text-decoration: none;
	color: #222;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: none;
}
button {
	border: none;
    outline: none;
}
table {
	width: 100%;
	border-collapse: collapse;
}
body {
    font-family: georgia;
	font-size: 0.85em;
	line-height: 24px;
	background: #f1f1f1;
	color: #000;
}
#layout {
	min-height: 100%;
	max-width: 1080px;
	min-width: 945px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.reduser {
	margin: 0 auto;
	width: 945px;
	overflow: hidden;
}
.pseudolink {
	font-size: 16px;
	font-weight: bold;
	font-family: 'pt sans';
	color: #222;
	border-bottom: 1px dashed #222;
	cursor: pointer;
	line-height: 16px;
	display: inline-block;
}
.pseudolink:hover {
	border: none;
	padding-bottom: 1px;
}
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.r {
	float: right;
	width: 302px;
	margin: 0px 0px 0px -302px;
}
.l {
	margin: 0px 320px 0px 0px;
}


.col_1 {
	float: left;
	width: 302px;
	margin: 0px 10px;
	overflow: hidden;
}
.col_1.p {
	padding-top: 52px;
	padding-bottom: 75px;
}
.col_1.p2{
	padding-top: 52px;
	padding-bottom: 20px;
}
.col_2 {
	float: left;
	width: 624px;
	overflow: hidden;
	margin: 0px 10px;
}
.col_full {
	overflow: hidden;
	margin: 0px 10px;
}
.columns {
	overflow: hidden;
	width: 966px;
	margin: 0px auto;
}
.article_cols {
	overflow: hidden;
	margin-bottom: 45px;
}
.block {
	overflow: hidden;
}
.block.pb {
	padding-bottom: 80px;
}
.block p {
	padding-bottom: 20px;
}
.col_2 .col_inside {
	margin: 0 -10px;
}


/*header*/

#header {
	height: 275px;
	position: relative;
	z-index: 3;
	margin-bottom: 30px;
}
#logo {
	width: 158px;
	height: 64px;
}
#header .reduser {
	overflow: visible;
}
#header .l {
	width: 260px;
	float: left;
	margin: 0px -260px 0px 0px;
}
#header .r {
	float: none;
	width: auto;
	margin: 0px 0px 0px 260px;
}
.top_banner {
	width: 1080px;
	height: 90px;
	margin-bottom: 16px;
}


/*auth*/
#auth {
	font-size: 13px;
	position: relative;
	font-family: 'Pt sans';
	width: 100%;
}
#auth a.enter_lnk,
#auth p {
	line-height: 30px;
	float: left;
	margin-right: 7px;
}
#auth .socials {
	float: left;
}
.socials {
	overflow: hidden;
	padding-top: 5px;
}
.socials a {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 3px;
}
.socials a.vk {
	background: url('../i/sprite.png') 0 0 no-repeat;
}
.socials a.fb {
	background: url('../i/sprite.png') -24px 0px no-repeat;
}
.socials a.tw {
	background: url('../i/sprite.png') -155px 0px no-repeat;
}
.socials a.ok {
	background: url('../i/sprite.png') -179px 0px no-repeat;
}
#auth.loggined {
	width: auto;
}
#auth.loggined p {
	position: relative;
	font-weight: bold;
	cursor: pointer;
	padding-right: 12px;
}
#auth.loggined.act p {
	margin-bottom: 10px;
}
#auth.loggined .auth_outer {
	padding-left: 10px;
	padding-right: 13px;
}
#auth.loggined p em {
	position: absolute;
	right: 0px;
	top: 15px;
	width: 7px;
	height: 4px;
	background: url('../i/sprite.png') -47px 0px no-repeat;
}
#auth.loggined.act p em {
	background: url('../i/sprite.png') -55px 0px no-repeat;
}
#auth.loggined p span {
	border-bottom: 1px solid #d3d3d3;
}
#auth.loggined a {
	display: inline;
	float: none;
	width: auto;
	height: auto;
	position: static;
	margin: 0;
	background: none;
}
#auth.loggined li {
	font-size: 13px;
	padding-left: 10px;
	line-height: 16px;
	margin-bottom: 7px;
}
#auth.loggined li.exit {
	border-top: 1px solid #d3d3d3;
	line-height: 36px;
	margin-bottom: 0px;
}
#auth.loggined ul {
	display: none;
}
#auth.loggined.act ul {
	display: block;
}
#auth.loggined.act .auth_outer {
	border: 1px solid #cacaca;
	padding-left: 9px;
	padding-right: 12px;
	padding-top: 6px;
	top: 5px;
	padding-bottom: 0px;
	box-shadow: 1px 2px 2px #dddddd;
	background: #fff;
}
.auth_outer {
	padding-top: 12px;
	padding-bottom: 12px;
	position: absolute;
	left: 0px;
	top: 0px;	
}
#auth.loggined .user_img {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 7px;
	display: block;
}
/*---auth*/

/*srch*/
.srch {
	float: right;
	width: 170px;
	margin-left: -170px;
	margin-bottom: 11px;
}
.srch fieldset {
	width: 168px;
	border: 1px solid #d9d9d9;
	height: 30px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ms-border-radius: 13px;
	border-radius: 13px;
	position: relative;
}
.srch input {
	background: transparent;
	border: none;
	height: 30px;
	font-family: 'Pt sans';
	color: #cdcdcd;
	width: 133px;
	padding-right: 5px;
	outline: none;
	padding-left: 30px;
}
.srch button {
	position: absolute;
	width: 17px;
	height: 16px;
	background: url('../i/sprite.png') -136px 0px no-repeat;
	left: 11px;
	top: 7px;
	cursor: pointer;
}
/*--srch*/

/*menu*/
.top_menu {
	padding-top: 12px;
	padding-bottom: 28px;
	overflow: hidden;
	font-family: 'Pt sans';
	height: 34px;
}
.top_menu ul {
	float: right;
	margin-right: -20px;
}
.top_menu ul.second_menu_row li a {
	color: #a3a3a3;
}
.top_menu ul li {
	float: left;
	margin-right: 20px;
	font-size: 13px;
	line-height: 17px;
}
.top_menu ul li a:hover {
	text-decoration: none;
	color: #f7931e;
}

.menu {
	margin-right: 200px;
}
.menu li {
	float: left;
	margin-right: 5px;
	font-size: 16px;
	font-family: 'Pt sans';
	height: 30px;
	font-weight: bold;
	line-height: 30px;
	padding: 0px 10px;
}
.menu li.curr {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	background: #f7931e;
	color: #fff;
}
.menu li strong,
.menu li a {
	position: relative;
}
.menu li a span,
.menu li strong span {
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url('../i/sprite.png');
}
.menu li.menu_item_1 a{
	padding-left: 27px;
}
.menu li.menu_item_1 a span {
	background-position: -64px 0px;
	width: 22px;
	height: 18px;
	top: 2px;
}
.menu li.menu_item_2 a {
	padding-left: 17px;
}
.menu li.menu_item_2  a span {
	background-position: -86px 0px;
	width: 11px;
	height: 21px;
}
.menu li.menu_item_3 a{
	padding-left: 26px;
}
.menu li.menu_item_3 a span {
	background-position: -97px 0px;
	width: 20px;
	height: 20px;
}
.menu li.menu_item_4 a {
	padding-left: 25px;
}
.menu li.menu_item_4  a span {
	background-position: -117px 0px;
	width: 19px;
	height: 19px;
}
.menu li.menu_item_1 strong{
	padding-left: 27px;
}
.menu li.menu_item_1 strong span {
	background-position: -201px 0px;
	width: 22px;
	height: 18px;
	top: 2px;
}
.menu li.menu_item_2 strong {
	padding-left: 17px;
}
.menu li.menu_item_2  strong span {
	background-position: -223px 0px;
	width: 11px;
	height: 21px;
}
.menu li.menu_item_3 strong{
	padding-left: 26px;
}
.menu li.menu_item_3 strong span {
	background-position: -234px 0px;
	width: 20px;
	height: 20px;
}
.menu li.menu_item_4 strong {
	padding-left: 25px;
}
.menu li.menu_item_4  strong span {
	background-position: -254px 0px;
	width: 19px;
	height: 19px;
}

.main_menu td{
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #cacaca;
	font-family: 'Pt sans narrow';
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
}
/*--menu*/

/*----header*/

/*content*/
#container {
	position: relative;
	z-index: 2;
}
.l_index {
	float: left;
	width: 302px;
	margin-right: -302px;
}
.news_block time {
	font-size: 13px;
	line-height: 13px;
	color: #a3a3a3;
}
.col_1 .news_block p {
	font-size: 13px;
	line-height: 18px;
}
.news_block h2 {
	padding-bottom: 20px;
}
.news_block .col_inside {
	margin: 15px -10px;
}
.exhibitions_block h2 {
	padding-bottom: 15px;
}
.exhibitions_block select {
	width: 180px;
	margin-bottom: 25px;
	font-family: 'pt sans';
	display: block;
}
.news_heading h2 {
	line-height: 32px;
	height: 72px;
	text-transform: none;
	padding-bottom: 0px;
}
.block .news_outer  {
	margin-bottom: 0px;
}
.news_block p {
	padding-bottom: 0px;
}
.news_block
.news_block,
.exhibitions_block {
	overflow: hidden;
}
.exh_row {
	overflow: hidden;
	margin-bottom: 20px;
	font-family: 'pt sans narrow';
}
.exh_row span {
	display: block;
	float: left;
	width: 82px;
	margin-right: -82px;
}
.exh_row div {
	margin-left: 82px;
	font-size: 13px;
	line-height: 18px;
	color: #a3a3a3;
}
.exh_row h3 {
	line-height: 18px;
}
.exh_row div p {
	font-weight: bold;
}
.show_all_lnk {
	line-height: 32px;
	height: 32px;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'pt sans narrow';
	border-top: 1px solid #cacaca;
	width: 100%;
	display: block;
	margin-top: 20px;	
	clear: both;
}
.show_all_lnk span:hover{
	text-decoration: underline;
	cursor: pointer;
}
.exhibitions_block {
	margin-bottom: 60px;
}
.news_block {
	margin-bottom: 40px;
}
.col_2 .news_block {
	margin-bottom: 70px;
}
.banner {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 40px;
}
.banner img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	display: block;
}
.r .banner {
	margin-top: 10px;
	margin-bottom: 30px;
}
.podpiska {
	background: url('../i/pattern.gif') 0 0 repeat;
	padding: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	width: 885px;
	margin: 0px auto 25px;
}
.podpiska_inner {
	background: #fff;
	height: 192px;
	position: relative;
	padding-left: 280px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.podpiska_img {
	position: absolute;
	left: 40px;
	top: -36px;
	background: url('../i/podpiska-img.png') 0 0 no-repeat;
	width: 207px;
	height: 228px;
}
.podpiska p {
	font-size: 32px;
	padding-top: 15px;
	font-family: 'pt sans narrow';
	font-weight: bold;
	width: 450px;
	line-height: 38px;
	padding-top: 25px;
	padding-bottom: 15px;
}
.podpiska p span {
	font-weight: normal;
}
.btn {
	display: inline-block;
	font-family: 'pt sans';
	color: #fff;
	font-weight: bold;
	background: #f49d2a;
	height: 37px;
	line-height: 36px;
	padding: 0px 18px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	font-size: 20px;
}
.btn.small {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 10px;
	height: 27px;
	line-height: 26px;
	font-size: 16px;
}
.btn:hover {
	text-decoration: underline;
}

.articles_block {
	margin-bottom: 20px;
	overflow: hidden;
}
.articles_block .banner {
	margin-bottom: 60px;
	margin-top: 0px;
}
.article_img {
	display: inline-block;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.article_img.fll {
	float: left;
	margin-right: 20px;
}
.article_img img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: block;
}
.article_stat {
	overflow: hidden;
	font-size: 15px;
	color: #a3a3a3;
	margin-bottom: 8px;
}
.article_stat time {
	float: left;
	margin-right: 20px;
}
.article_stat a {
	position: relative;
	color: #a3a3a3;
	float: left;
	margin-right: 20px;
	padding-left: 22px;
}
.article_stat a em {
	position: absolute;
	left: 0px;
	top: 8px;
}
.article_stat a.comments em {
	background: url('../i/sprite.png') -273px 0px no-repeat;
	width: 17px;
	height: 14px;
}
.article_stat a.views em {
	background: url('../i/sprite.png') -290px 0px no-repeat;
	width: 16px;
	height: 10px;
	top: 7px;
}
.r_index {
	margin-left: 320px;
}
.r_index section {
	overflow: hidden;
}
.r_index .article {
	margin-bottom: 10px;
}
.article {
	font-family: 'pt sans narrow';
	margin-bottom: 20px;
}
.article h2 {
	line-height: 32px;
	text-transform: none;
	width: 500px;
	padding-bottom: 0px;
}
.article p {
	font-family: georgia;
	padding-bottom: 25px;
}
.article strong {
	text-transform: uppercase;
	font-size: 16px;
	spadding-top: 4px;
	display: block;
	font-weight: normal;
	line-height: 16px;
}
.article span {
	font-size: 16px;
	padding-top: 4px;
	line-height: 18px;
}
.article span a,
.article strong a {
	color: #9a9a9a;
}

.slider {
	height: 128px;
	border: 3px solid #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 18px 50px;
}
.list_outer {
	position: relative;
}
.list {
	overflow: hidden;
	height: 128px;
	margin: 0px 18px;
}
.list_ {
	width: 1000000px;
	position: relative;
}
.list_item {
	float: left;
	margin: 0px 9px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	width: 142px;
	height: 128px;
}
.list_item img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	display: block;
}
.slider_prev_arr {
	position: absolute;
	left: 0px;
	top: 56px;
	width: 9px;
	height: 17px;
	background: url('../i/sprite.png') -306px 0px no-repeat;
	cursor: pointer;
}
.slider_next_arr {
	position: absolute;
	right: 0px;
	top: 56px;
	width: 9px;
	height: 17px;
	background: url('../i/sprite.png') -317px 0px no-repeat;
	cursor: pointer;
}

.news_prev {
	display: block;
	width: 142px;
	height: 115px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;
}
.news_prev img {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.other_news {
	overflow: hidden;
	margin-bottom: 25px;
}
.other_news article {
	float: left;
	margin-right: 58px;
	width: 142px;
}
.other_news h2 {
	padding-bottom: 20px;
}

.likes_block h2,
.commets_block h2 {
	height: 56px;
	line-height: 56px;
	position: relative;
	padding-bottom: 0px;
}
.commets_block h2 {
	border-bottom: 1px solid #cacaca;
}
.commets_block .pseudolink {
	margin: 20px 0px;
}
.commets_block h2 .pseudolink {
	position: absolute;
	right: 0px;
	top: 20px;
	height: auto;
	margin: 0px;
}
.commets_block {
	padding-bottom: 50px;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 30px;
}
.comment_inner {
	padding: 24px 0px;
	border-bottom: 1px solid #cacaca;
	overflow: hidden;
}
.commets_block.no_auth {
	padding: 0px;
	border: none;
}
.commets_block.no_auth .btn {
	float: left;
	margin-right: 15px;
}
.commets_block.no_auth p {
	float: left;
	font-family: 'pt sans';
	line-height: 26px;
}
.comment_l {
	float: left;
	width: 160px;
	margin-right: -160px;
	overflow: hidden;
	line-height: 16px;
}
.comment_r {
	margin-left: 160px;
}
.comment_bottom {
	font-size: 13px;
	color: #a3a3a3;
	line-height: 16px;
	overflow: hidden;
}
.comment_r p {
	padding-bottom: 10px;
}
.reply {
	cursor: pointer;
	border-bottom: 1px dashed #a3a3a3;
	float: right;
}
.reply:hover {
	color: #222;
	border: none;
	padding-bottom: 1px;
}
.reply_form .user_icon,
.reply_form .user_name {
	margin-bottom: 10px;
}
.reply_form {
	overflow: hidden;
	padding-top: 30px;
}
.reply_form fieldset {
	height: 26px;
	padding: 10px;
	border: 1px solid #cacaca;
}
.reply_form textarea {
	resize: vertical;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	border-top: none;
	font-size: 16px;
	font-family: georgia;
	padding: 12px;
	width: 439px;
	line-height: 18px;
	min-height: 142px;
	box-shadow: inset 0px 3px 3px #eaeaea;
	margin-bottom: 10px;
}
.comment_inner .user_icon {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

.likes_block {
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
}
.likes_block .fb-like,
.likes_block #vk_like,
.likes_block .twitter-share-button,
.likes_block .g-plus {
	float: left;
	clear: none !important;
}
.likes_block .fb-like {
	margin-right: 15px;
}

.interviews_block {
	margin-bottom: 60px;
	overflow: hidden;
}
.interviews_block h3 {
	padding-top: 10px;
}
.interviews_block p{
	text-transform: none;
	line-height: 20px;
	padding-top: 0px;
}
.interviews_block .show_all_lnk {
	margin-top: 0px;
	clear: both;
}
.interviews_block .article {
	float: left;
	width: 302px;
}

.news {
	margin-bottom: 20px;
}
.news_outer {
	overflow: hidden;
	margin-bottom: 25px;
}
.news h2 {
	font-size: 24px;
	height: 68px;
	line-height: 78px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.news div h2 {
	text-transform: none;
	font-size: 26px;
	height: auto;
	line-height: 32px;
	letter-spacing: 0px;
}
.news div time {
	color: #a3a3a3;
	font-size: 16px;
}
.news div {
	
}
.news .clear {
	margin-bottom: 0px;
}
.news .news_l {
	float: left;
	width: 290px;
	margin-right: -290px;
	smargin-bottom: 0px;
}
.news .news_r {
	margin-left: 320px;
	smargin-bottom: 0px;
}

.tip {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background: #f9e8c7;
	color: #222;
	font-size: 16px;
	padding: 10px 20px;
	margin-bottom: 50px;
}
.tip .pseudolink {
	font-family: georgia;
}
.archive li {
	float: left;
	height: 270px;
	margin-right: 60px;
}
.archive li div {
	width: 140px;
	height: 185px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e3e3e3;
	overflow: hidden;
	margin-bottom: 5px;
}
.archive li div img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}
.archive li p {
	color: #222;
	line-height: 20px;
	padding-bottom: 0px;
}
.archive li strong {
	font-family: 'pt sans';
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #bababa;
}
.archive li strong a {
	text-decoration: underline;
	color: #222;
	font-size: 16px;
}


.contacts h2 {
	stext-transform: none;
}
.map {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	width: 620px;
	height: 310px;
	margin-bottom: 30px;
	overflow: hidden;
}
.contacts li {
	float: left;
	width: 240px;
}
.contacts address {
	font-family: georgia;
	font-size: 16px;
	font-style: normal;
	margin-bottom: 20px;
	width: 165px;
}
.contacts address div {
	padding-left: 20px;
	line-height: 22px;
}
.mail_lnk {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	color: #f7931e;
	text-decoration: underline;
}
.mail_lnk:hover {
	text-decoration: none;
}
.mail_lnk span {
	position: absolute;
	left: 0px;
	top: 8px;
	background: url('../i/sprite.png') -326px 0px no-repeat;
	width: 16px;
	height: 12px;
}
.skype_lnk {
	position: relative;
	padding-left: 20px;
	display: inline-block;
}
.skype_lnk span {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 15px;
	height: 17px;
	background: url('../i/sprite.png') -342px 0px no-repeat;
}

.user {
	padding-right: 20px;
}
.user_row {
	overflow: hidden;
	margin-bottom: 30px;
}
.user_row .user_img {
	float: left;
	width: 70px;
	height: 70px;
	margin-right: -70px;
}
.user_r {
	margin-left: 90px;
	position: relative;
	top: -5px;
}
.user_row span {
	font-family: 'pt sans';
	font-size: 16px;
	line-height: 16px;
}
.user_row h2 {
	padding-bottom: 5px;
	line-height: 26px;
}
.profile_edit {
	font-style: italic;
	position: relative;
	padding-left: 20px;
	font-size: 16px;
	color: #222;
	text-decoration: underline;
}
.profile_edit:hover {
	text-decoration: none;
}
.profile_edit span {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14px;
	height: 15px;
	background: url('../i/sprite.png') -357px 0px no-repeat;
}
.tabs {
	height: 36px;
	border-bottom: 1px solid #000000;
	font-family: 'pt sans narrow';
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}
.tabs div {
	float: left;
	height: 36px;
	line-height: 36px;
	padding: 0px 22px;
	cursor: pointer;
}
.tabs div.curr {
	cursor: auto;
	background: #fff;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	line-height: 34px;
}
.user .block {
	padding-top: 30px;
}
.user .block .user_img {
	width: 200px;
	height: 300px;
	float: right;
	margin-left: -200px;
}
.user_info {
	margin-right: 200px;
	padding-left: 90px;
	overflow: hidden;
	font-family: 'pt sans';
	position: relative;
	top: -5px;
}
.user_info p {
	font-weight: bold;
	padding-bottom: 10px;
}
.user_info span {
	position: absolute;
	left: 20px;
	top: 0px;
	font-family: 'pt sans narrow';
	font-size: 16px;
	text-transform: uppercase;
	color: #b6b6b6;
}
.user_info li {
	float: left;
	width: 115px;
	font-size: 13px;
	line-height: 22px;
}
.user .comment {
	overflow: hidden;
	padding-top: 10px;
}
.user .comment time {
	float: left;
	width: 165px;
	font-size: 13px;
	color: #ababab;
	margin-right: -165px;
}
.user .comment p {
	margin-left: 165px;
	padding-bottom: 10px;
}

.orange_form {
	padding-top: 20px;
	margin-right: 20px;
}
.orange_form form {
	border: 6px solid #f49d2a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	padding: 40px 35px 45px;
}
.orange_form h2 {
	text-transform: uppercase;
	padding-bottom: 0px;
}
.orange_form p {
	font-family: 'pt sans';
}
.orange_form .block {
	padding: 10px 0px;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 20px;
}
.field {
	width: 335px;
	margin-bottom: 10px;
}
.field label {
	font-size: 16px;
	color: #222;
	font-family: 'pt sans';
	height: 30px;
	line-height: 30px;
}
.field p {
	padding-bottom: 0px;
	height: 30px;
	line-height: 30px;
}
.field input {
	display: block;
	border: 1px solid #ababab;
	height: 20px;
	line-height: 20px;
	font-family: 'pt sans';
	width: 333px;
}
.field textarea {
	display: block;
	border: 1px solid #ababab;
	width: 333px;
	font-family: 'pt sans';
	resize: vertical;
	min-height: 110px;
}
.field.short {
	float: left;
	width: 162px;
	margin-right: 11px;
}
.field.short input {
	width: 160px;
}
/*---content*/

/*footer*/
#footer_spacer {
	height: 255px;
	clear: both;
}
#footer {
	position: absolute;
	width: 100%;
	height: 255px;
	left: 0px;
	bottom: 0px;
}
#footer .l {
	float: left;
	width: 310px;
	margin: 0px -310px 0px 0px;
}
#footer .r {
	margin: 0px 0px 35px 310px;
	width: auto;
}
#footer .srch {
	float: left;
	width: 170px;
	margin: 0px -170px 0px 0px;
}
.bottom_menu {
	margin-bottom: 25px;
}
.bottom_menu td {
	height: 61px;
	border-bottom: 1px solid #eeeeee;
	font-size: 16px;
	line-height: 60px;
	font-family: 'pt sans narrow';
	text-align: center;
}
.dev_logo {
	margin-left: 390px;
}
.dev_logo a {
	float: right;
	width: 138px;
	height: 33px;
	margin-left: -138px;
	background: url('../i/dev-logo.png') 0 0 no-repeat;
	display: block;
}
.dev_logo p {
	font-size: 14px;
	margin-right: 145px;
	color: #222;
	font-family: 'pt sans';
	line-height: 32px;
}
.copy {
	font-family: 'pt sans';
	font-size: 13px;
	color: #bababa;
	line-height: 17px;
	text-align: center;
	width: 760px;
	margin: 0px auto;
}
/*--footer*/
