fieldset {
    border: none;
    outline: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.filter-list {
    height: 22px;
    line-height: 22px;
    margin-bottom: 20px;
}
.filter-list li {
    font-family: 'Pt sans narrow', arial, verdana, sans-serif;
    font-size: 16px;
    line-height: 22px;
    
    color: #000;
    display: inline-block;
    margin-right: 20px;
}
.filter-list label {
    margin-right: 10px;
}
.filter-list label,
.filter-list select {
    font-family: 'Pt sans narrow', arial, verdana, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

/* Datepicker markup
----------------------------------*/
.calendar {
    overflow: hidden;
    margin-bottom: 35px;
}
.datepicker-call {
    text-align: center;
}
.datepicker-call .pseudolink {
    font-weight: normal;
}
#datepicker-close.pseudolink {
    position: relative;
}
#datepicker-close.pseudolink:after {
    content: "X";
    font-size: 12px;
    font-family: comic sans ms, tahoma, sans-serif;
    color: #363636;
    position: absolute;
    right: -18px;
    text-outline: 1px;
}
.datepicker {
    display: none;
}

/* exposition markup
----------------------------------*/
.columns-header {
    font-family: 'Pt sans narrow', arial, verdana, sans-serif;
    line-height: 24px;
    padding: 0 0 5px;
    margin: 0 0 5px;
    border-bottom: 1px solid #f0f0f0;
}
.exposition-table {
    margin-bottom: 40px;
}
.exposition-table th,
.exposition-table td {
    text-align: left;
}
.exposition-table th {
    font-family: 'Pt sans', arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #a3a3a3;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
}
.exposition-table td {
    padding: 25px 10px 13px;
    min-height: 80px;
    vertical-align: top;
}
.exposition-table tr:nth-child(even) td {
    background-color: #f6f6f6;
}
.exposition-table tr:nth-child(odd) td {
    background-color: #fff;
}
.exposition-table .exposition-img {
    width: 125px;
    padding-right: 50px;
    text-align: center;
    vertical-align: middle;
}
.exposition-table .exposition-title {
    width: auto;
    padding-right: 30px;
}
.exposition-table h3 {
    font-family: 'Pt sans narrow', arial, verdana, sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.exposition-table a {
    display: block;
    color: inherit;
}
.exposition-table p {
    font-size: 13px;
    line-height: 18px;
    color: #a3a3a3;
}
.exposition-table .exposition-date {
    width: 160px;
}
.exposition-table .exposition-place {
    width: 180px;
}

.paginator {
    font-family: 'PT SANS', arial, verdana, sans-serif;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    margin: 0 0 50px;
}
.paginator p {
    font-size: 16px;
    color: #a3a3a3;
}
.paginator li,
.paginator a,
.paginator span {
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #222222;
    text-align: center;
    border-radius: 3px;
}
.paginator li {
    float: left;
    margin-right: 3px;
}
.paginator a {
    display: block;
    text-decoration: none;
    background-color: #fff;
}
.paginator a:hover,
.paginator a:active,
.paginator li.curr a,
.paginator li span {
    color: #fff;
    background-color: #f7931e;
    display: block;
}